{% extends 'base.html' %}
{% load static %}

{% block body %}
    <main id="content">
        <!-- login&register form start -->
        <div id="wrapper-logRegFrom">
            <!-- background colors start -->
            <span class="color"></span>
            <span class="color"></span>
            <span class="color"></span>
            <!-- background colors end -->
            <!-- register-form area start -->
            <div class="form-box register"> 
                <h2 class="title">Register</h2>

                {% for message in  messages %}
                    <p class=""> {{ i }} {{ i.tag }} </p>
                {% endfor %}
                
                <form id="register" class="form record" novalidate>
                    <div class="input-box">
                        <input class="inp" type="text" name="firstname" required>
                        <span class="label">First Name</span>
                        <ion-icon class="form-icon" name="person"></ion-icon>
                    </div>
                    <div class="input-box">
                        <input class="inp" type="text" name="lastname" required>
                        <span class="label">Last Name</span>
                        <ion-icon class="form-icon" name="person"></ion-icon>
                    </div>
                    <div class="input-box">
                        <input class="inp" type="text" name="username" minlength="3" required>
                        <span class="label">Username</span>
                        <ion-icon class="form-icon" name="person"></ion-icon>
                    </div>
                    <div class="input-box">
                        <input class="inp" type="email" name="email" id="email" required>
                        <span class="label">Email</span>
                        <ion-icon class="form-icon" name="mail"></ion-icon>
                    </div>
                    <div class="input-box">
                        <input class="inp" type="password" name="password1" id="password1" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                        <span class="label">Password</span>
                        <ion-icon class="form-icon" name="lock-closed"></ion-icon>
                    </div>
                    <div class="input-box">
                        <input class="inp" type="password" name="password2" id="password2" required>
                        <span class="label">Confirm Password</span>
                        <ion-icon class="form-icon" name="lock-closed"></ion-icon>
                    </div>
                    <button type="submit" class="btn">Register</button>
                    <div class="logreg-link">
                        <p>Already have an account? <a href="{% url 'loginPage' %}" class="login-link">Log in</a></p>
                    </div>
                </form>
            </div>
            <!-- register-form area end -->
        </div>
        <!-- login&register form end -->
    </main>
{% endblock body %}
    
    

{% block javaScript %}
    <!-- cusctomized scripts -->
    <script>
        var csrfToken = "{{ csrf_token }}";
    </script>
    <script type="module" src="{% static '/src/js/logRegFrom.js' %}"></script>
    <!-- cusctomized scripts -->
{% endblock javaScript %}