{% extends 'base.html' %}
{% load static %}
    

{% block body %}
<main id="content">
        
    <section id="product-area">            
        <!-- product cards area start -->
        <div class="product-cards">
            <!-- discounted products start  -->
            <h2 class="discounted-product-title">indirimli urunler</h2>
            <div class="discounted-product-cards">
                <div class="discounted-product">
                    <div class="imgBox">
                        <img src="{% static 'img/kazak_1.jpg' %}" alt="" class="product-img">
                        <ul class="action-menu">
                            <li class="action-icons" style="--trans-delay:1;">
                                <ion-icon name="heart"></ion-icon>
                                <span>Add to My Favourites</span>
                            </li>
                            <li class="action-icons" style="--trans-delay:1.4;">
                                <ion-icon name="cart-outline"></ion-icon>
                                <span>Add to Cart</span>
                            </li>
                            <li class="action-icons" style="--trans-delay:1.8;">
                                <ion-icon name="eye-outline"></ion-icon>
                                <span>View Details</span>
                            </li>
                        </ul>
                    </div>
                    <div class="content">
                        <div class="product-name">
                            <h3 class="name">kazak</h3>
                        </div>
                        <div class="price-rate">
                            <h2 class="price">$13.45</h2>
                            <div class="rate">
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="grey" name="star"></ion-icon>
                                <ion-icon class="grey" name="star"></ion-icon>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="discounted-product">
                    <div class="imgBox">
                        <img src="{% static 'img/kazak_1.jpg' %}" alt="" class="product-img">
                        <ul class="action-menu">
                            <li class="action-icons" style="--trans-delay:1;">
                                <ion-icon name="heart"></ion-icon>
                                <span>Add to My Favourites</span>
                            </li>
                            <li class="action-icons" style="--trans-delay:1.4;">
                                <ion-icon name="cart-outline"></ion-icon>
                                <span>Add to Cart</span>
                            </li>
                            <li class="action-icons" style="--trans-delay:1.8;">
                                <ion-icon name="eye-outline"></ion-icon>
                                <span>View Details</span>
                            </li>
                        </ul>
                    </div>
                    <div class="content">
                        <div class="product-name">
                            <h3 class="name">kazak</h3>
                        </div>
                        <div class="price-rate">
                            <h2 class="price">$13.45</h2>
                            <div class="rate">
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="grey" name="star"></ion-icon>
                                <ion-icon class="grey" name="star"></ion-icon>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="discounted-product">
                    <div class="imgBox">
                        <img src="{% static 'img/kazak_1.jpg' %}" alt="" class="product-img">
                        <ul class="action-menu">
                            <li class="action-icons" style="--trans-delay:1;">
                                <ion-icon name="heart"></ion-icon>
                                <span>Add to My Favourites</span>
                            </li>
                            <li class="action-icons" style="--trans-delay:1.4;">
                                <ion-icon name="cart-outline"></ion-icon>
                                <span>Add to Cart</span>
                            </li>
                            <li class="action-icons" style="--trans-delay:1.8;">
                                <ion-icon name="eye-outline"></ion-icon>
                                <span>View Details</span>
                            </li>
                        </ul>
                    </div>
                    <div class="content">
                        <div class="product-name">
                            <h3 class="name">kazak</h3>
                        </div>
                        <div class="price-rate">
                            <h2 class="price">$13.45</h2>
                            <div class="rate">
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="grey" name="star"></ion-icon>
                                <ion-icon class="grey" name="star"></ion-icon>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="discounted-product">
                    <div class="imgBox">
                        <img src="{% static 'img/kazak_1.jpg' %}" alt="" class="product-img">
                        <ul class="action-menu">
                            <li class="action-icons" style="--trans-delay:1;">
                                <ion-icon name="heart"></ion-icon>
                                <span>Add to My Favourites</span>
                            </li>
                            <li class="action-icons" style="--trans-delay:1.4;">
                                <ion-icon name="cart-outline"></ion-icon>
                                <span>Add to Cart</span>
                            </li>
                            <li class="action-icons" style="--trans-delay:1.8;">
                                <ion-icon name="eye-outline"></ion-icon>
                                <span>View Details</span>
                            </li>
                        </ul>
                    </div>
                    <div class="content">
                        <div class="product-name">
                            <h3 class="name">kazak</h3>
                        </div>
                        <div class="price-rate">
                            <h2 class="price">$13.45</h2>
                            <div class="rate">
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="grey" name="star"></ion-icon>
                                <ion-icon class="grey" name="star"></ion-icon>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="discounted-product">
                    <div class="imgBox">
                        <img src="{% static 'img/kazak_1.jpg' %}" alt="" class="product-img">
                        <ul class="action-menu">
                            <li class="action-icons" style="--trans-delay:1;">
                                <ion-icon name="heart"></ion-icon>
                                <span>Add to My Favourites</span>
                            </li>
                            <li class="action-icons" style="--trans-delay:1.4;">
                                <ion-icon name="cart-outline"></ion-icon>
                                <span>Add to Cart</span>
                            </li>
                            <li class="action-icons" style="--trans-delay:1.8;">
                                <ion-icon name="eye-outline"></ion-icon>
                                <span>View Details</span>
                            </li>
                        </ul>
                    </div>
                    <div class="content">
                        <div class="product-name">
                            <h3 class="name">kazak</h3>
                        </div>
                        <div class="price-rate">
                            <h2 class="price">$13.45</h2>
                            <div class="rate">
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="grey" name="star"></ion-icon>
                                <ion-icon class="grey" name="star"></ion-icon>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="discounted-product">
                    <div class="imgBox">
                        <img src="{% static 'img/kazak_1.jpg' %}" alt="" class="product-img">
                        <ul class="action-menu">
                            <li class="action-icons" style="--trans-delay:1;">
                                <ion-icon name="heart"></ion-icon>
                                <span>Add to My Favourites</span>
                            </li>
                            <li class="action-icons" style="--trans-delay:1.4;">
                                <ion-icon name="cart-outline"></ion-icon>
                                <span>Add to Cart</span>
                            </li>
                            <li class="action-icons" style="--trans-delay:1.8;">
                                <ion-icon name="eye-outline"></ion-icon>
                                <span>View Details</span>
                            </li>
                        </ul>
                    </div>
                    <div class="content">
                        <div class="product-name">
                            <h3 class="name">kazak</h3>
                        </div>
                        <div class="price-rate">
                            <h2 class="price">$13.45</h2>
                            <div class="rate">
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="grey" name="star"></ion-icon>
                                <ion-icon class="grey" name="star"></ion-icon>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="discounted-product">
                    <div class="imgBox">
                        <img src="{% static 'img/kazak_1.jpg' %}" alt="" class="product-img">
                        <ul class="action-menu">
                            <li class="action-icons" style="--trans-delay:1;">
                                <ion-icon name="heart"></ion-icon>
                                <span>Add to My Favourites</span>
                            </li>
                            <li class="action-icons" style="--trans-delay:1.4;">
                                <ion-icon name="cart-outline"></ion-icon>
                                <span>Add to Cart</span>
                            </li>
                            <li class="action-icons" style="--trans-delay:1.8;">
                                <ion-icon name="eye-outline"></ion-icon>
                                <span>View Details</span>
                            </li>
                        </ul>
                    </div>
                    <div class="content">
                        <div class="product-name">
                            <h3 class="name">kazak</h3>
                        </div>
                        <div class="price-rate">
                            <h2 class="price">$13.45</h2>
                            <div class="rate">
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="grey" name="star"></ion-icon>
                                <ion-icon class="grey" name="star"></ion-icon>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="discounted-product">
                    <div class="imgBox">
                        <img src="{% static 'img/kazak_1.jpg' %}" alt="" class="product-img">
                        <ul class="action-menu">
                            <li class="action-icons" style="--trans-delay:1;">
                                <ion-icon name="heart"></ion-icon>
                                <span>Add to My Favourites</span>
                            </li>
                            <li class="action-icons" style="--trans-delay:1.4;">
                                <ion-icon name="cart-outline"></ion-icon>
                                <span>Add to Cart</span>
                            </li>
                            <li class="action-icons" style="--trans-delay:1.8;">
                                <ion-icon name="eye-outline"></ion-icon>
                                <span>View Details</span>
                            </li>
                        </ul>
                    </div>
                    <div class="content">
                        <div class="product-name">
                            <h3 class="name">kazak</h3>
                        </div>
                        <div class="price-rate">
                            <h2 class="price">$13.45</h2>
                            <div class="rate">
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="grey" name="star"></ion-icon>
                                <ion-icon class="grey" name="star"></ion-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- discounted products end  -->
            <!-- free cargo products start  -->
            <h2 class="freecargo-product-title">kargo bedava</h2>
            <div class="freecargo-product-cards">
                <div class="freecargo-product">
                    <div class="imgBox">
                        <img src="{% static 'img/kazak_1.jpg' %}" alt="" class="product-img">
                        <ul class="action-menu">
                            <li class="action-icons" style="--trans-delay:1;">
                                <ion-icon name="heart"></ion-icon>
                                <span>Add to My Favourites</span>
                            </li>
                            <li class="action-icons" style="--trans-delay:1.4;">
                                <ion-icon name="cart-outline"></ion-icon>
                                <span>Add to Cart</span>
                            </li>
                            <li class="action-icons" style="--trans-delay:1.8;">
                                <ion-icon name="eye-outline"></ion-icon>
                                <span>View Details</span>
                            </li>
                        </ul>
                    </div>
                    <div class="content">
                        <div class="product-name">
                            <h3 class="name">kazak</h3>
                        </div>
                        <div class="price-rate">
                            <h2 class="price">$13.45</h2>
                            <div class="rate">
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="grey" name="star"></ion-icon>
                                <ion-icon class="grey" name="star"></ion-icon>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="freecargo-product">
                    <div class="imgBox">
                        <img src="{% static 'img/kazak_1.jpg' %}" alt="" class="product-img">
                        <ul class="action-menu">
                            <li class="action-icons" style="--trans-delay:1;">
                                <ion-icon name="heart"></ion-icon>
                                <span>Add to My Favourites</span>
                            </li>
                            <li class="action-icons" style="--trans-delay:1.4;">
                                <ion-icon name="cart-outline"></ion-icon>
                                <span>Add to Cart</span>
                            </li>
                            <li class="action-icons" style="--trans-delay:1.8;">
                                <ion-icon name="eye-outline"></ion-icon>
                                <span>View Details</span>
                            </li>
                        </ul>
                    </div>
                    <div class="content">
                        <div class="product-name">
                            <h3 class="name">kazak</h3>
                        </div>
                        <div class="price-rate">
                            <h2 class="price">$13.45</h2>
                            <div class="rate">
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="grey" name="star"></ion-icon>
                                <ion-icon class="grey" name="star"></ion-icon>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="freecargo-product">
                    <div class="imgBox">
                        <img src="{% static 'img/kazak_1.jpg' %}" alt="" class="product-img">
                        <ul class="action-menu">
                            <li class="action-icons" style="--trans-delay:1;">
                                <ion-icon name="heart"></ion-icon>
                                <span>Add to My Favourites</span>
                            </li>
                            <li class="action-icons" style="--trans-delay:1.4;">
                                <ion-icon name="cart-outline"></ion-icon>
                                <span>Add to Cart</span>
                            </li>
                            <li class="action-icons" style="--trans-delay:1.8;">
                                <ion-icon name="eye-outline"></ion-icon>
                                <span>View Details</span>
                            </li>
                        </ul>
                    </div>
                    <div class="content">
                        <div class="product-name">
                            <h3 class="name">kazak</h3>
                        </div>
                        <div class="price-rate">
                            <h2 class="price">$13.45</h2>
                            <div class="rate">
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="grey" name="star"></ion-icon>
                                <ion-icon class="grey" name="star"></ion-icon>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="freecargo-product">
                    <div class="imgBox">
                        <img src="{% static 'img/kazak_1.jpg' %}" alt="" class="product-img">
                        <ul class="action-menu">
                            <li class="action-icons" style="--trans-delay:1;">
                                <ion-icon name="heart"></ion-icon>
                                <span>Add to My Favourites</span>
                            </li>
                            <li class="action-icons" style="--trans-delay:1.4;">
                                <ion-icon name="cart-outline"></ion-icon>
                                <span>Add to Cart</span>
                            </li>
                            <li class="action-icons" style="--trans-delay:1.8;">
                                <ion-icon name="eye-outline"></ion-icon>
                                <span>View Details</span>
                            </li>
                        </ul>
                    </div>
                    <div class="content">
                        <div class="product-name">
                            <h3 class="name">kazak</h3>
                        </div>
                        <div class="price-rate">
                            <h2 class="price">$13.45</h2>
                            <div class="rate">
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="grey" name="star"></ion-icon>
                                <ion-icon class="grey" name="star"></ion-icon>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="freecargo-product">
                    <div class="imgBox">
                        <img src="{% static 'img/kazak_1.jpg' %}" alt="" class="product-img">
                        <ul class="action-menu">
                            <li class="action-icons" style="--trans-delay:1;">
                                <ion-icon name="heart"></ion-icon>
                                <span>Add to My Favourites</span>
                            </li>
                            <li class="action-icons" style="--trans-delay:1.4;">
                                <ion-icon name="cart-outline"></ion-icon>
                                <span>Add to Cart</span>
                            </li>
                            <li class="action-icons" style="--trans-delay:1.8;">
                                <ion-icon name="eye-outline"></ion-icon>
                                <span>View Details</span>
                            </li>
                        </ul>
                    </div>
                    <div class="content">
                        <div class="product-name">
                            <h3 class="name">kazak</h3>
                        </div>
                        <div class="price-rate">
                            <h2 class="price">$13.45</h2>
                            <div class="rate">
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="grey" name="star"></ion-icon>
                                <ion-icon class="grey" name="star"></ion-icon>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="freecargo-product">
                    <div class="imgBox">
                        <img src="{% static 'img/kazak_1.jpg' %}" alt="" class="product-img">
                        <ul class="action-menu">
                            <li class="action-icons" style="--trans-delay:1;">
                                <ion-icon name="heart"></ion-icon>
                                <span>Add to My Favourites</span>
                            </li>
                            <li class="action-icons" style="--trans-delay:1.4;">
                                <ion-icon name="cart-outline"></ion-icon>
                                <span>Add to Cart</span>
                            </li>
                            <li class="action-icons" style="--trans-delay:1.8;">
                                <ion-icon name="eye-outline"></ion-icon>
                                <span>View Details</span>
                            </li>
                        </ul>
                    </div>
                    <div class="content">
                        <div class="product-name">
                            <h3 class="name">kazak</h3>
                        </div>
                        <div class="price-rate">
                            <h2 class="price">$13.45</h2>
                            <div class="rate">
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="grey" name="star"></ion-icon>
                                <ion-icon class="grey" name="star"></ion-icon>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="freecargo-product">
                    <div class="imgBox">
                        <img src="{% static 'img/kazak_1.jpg' %}" alt="" class="product-img">
                        <ul class="action-menu">
                            <li class="action-icons" style="--trans-delay:1;">
                                <ion-icon name="heart"></ion-icon>
                                <span>Add to My Favourites</span>
                            </li>
                            <li class="action-icons" style="--trans-delay:1.4;">
                                <ion-icon name="cart-outline"></ion-icon>
                                <span>Add to Cart</span>
                            </li>
                            <li class="action-icons" style="--trans-delay:1.8;">
                                <ion-icon name="eye-outline"></ion-icon>
                                <span>View Details</span>
                            </li>
                        </ul>
                    </div>
                    <div class="content">
                        <div class="product-name">
                            <h3 class="name">kazak</h3>
                        </div>
                        <div class="price-rate">
                            <h2 class="price">$13.45</h2>
                            <div class="rate">
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="grey" name="star"></ion-icon>
                                <ion-icon class="grey" name="star"></ion-icon>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="freecargo-product">
                    <div class="imgBox">
                        <img src="{% static 'img/kazak_1.jpg' %}" alt="" class="product-img">
                        <ul class="action-menu">
                            <li class="action-icons" style="--trans-delay:1;">
                                <ion-icon name="heart"></ion-icon>
                                <span>Add to My Favourites</span>
                            </li>
                            <li class="action-icons" style="--trans-delay:1.4;">
                                <ion-icon name="cart-outline"></ion-icon>
                                <span>Add to Cart</span>
                            </li>
                            <li class="action-icons" style="--trans-delay:1.8;">
                                <ion-icon name="eye-outline"></ion-icon>
                                <span>View Details</span>
                            </li>
                        </ul>
                    </div>
                    <div class="content">
                        <div class="product-name">
                            <h3 class="name">kazak</h3>
                        </div>
                        <div class="price-rate">
                            <h2 class="price">$13.45</h2>
                            <div class="rate">
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="grey" name="star"></ion-icon>
                                <ion-icon class="grey" name="star"></ion-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- free cargo products end  -->
            <!-- best seller products start  -->
            <h2 class="bestseller-product-title">en cok satanlar</h2>
            <div class="bestseller-product-cards">
                <div class="bestseller-product">
                    <div class="imgBox">
                        <img src="{% static 'img/kazak_1.jpg' %}" alt="" class="product-img">
                        <ul class="action-menu">
                            <li class="action-icons" style="--trans-delay:1;">
                                <ion-icon name="heart"></ion-icon>
                                <span>Add to My Favourites</span>
                            </li>
                            <li class="action-icons" style="--trans-delay:1.4;">
                                <ion-icon name="cart-outline"></ion-icon>
                                <span>Add to Cart</span>
                            </li>
                            <li class="action-icons" style="--trans-delay:1.8;">
                                <ion-icon name="eye-outline"></ion-icon>
                                <span>View Details</span>
                            </li>
                        </ul>
                    </div>
                    <div class="content">
                        <div class="product-name">
                            <h3 class="name">kazak</h3>
                        </div>
                        <div class="price-rate">
                            <h2 class="price">$13.45</h2>
                            <div class="rate">
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="grey" name="star"></ion-icon>
                                <ion-icon class="grey" name="star"></ion-icon>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bestseller-product">
                    <div class="imgBox">
                        <img src="{% static 'img/kazak_1.jpg' %}" alt="" class="product-img">
                        <ul class="action-menu">
                            <li class="action-icons" style="--trans-delay:1;">
                                <ion-icon name="heart"></ion-icon>
                                <span>Add to My Favourites</span>
                            </li>
                            <li class="action-icons" style="--trans-delay:1.4;">
                                <ion-icon name="cart-outline"></ion-icon>
                                <span>Add to Cart</span>
                            </li>
                            <li class="action-icons" style="--trans-delay:1.8;">
                                <ion-icon name="eye-outline"></ion-icon>
                                <span>View Details</span>
                            </li>
                        </ul>
                    </div>
                    <div class="content">
                        <div class="product-name">
                            <h3 class="name">kazak</h3>
                        </div>
                        <div class="price-rate">
                            <h2 class="price">$13.45</h2>
                            <div class="rate">
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="grey" name="star"></ion-icon>
                                <ion-icon class="grey" name="star"></ion-icon>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bestseller-product">
                    <div class="imgBox">
                        <img src="{% static 'img/kazak_1.jpg' %}" alt="" class="product-img">
                        <ul class="action-menu">
                            <li class="action-icons" style="--trans-delay:1;">
                                <ion-icon name="heart"></ion-icon>
                                <span>Add to My Favourites</span>
                            </li>
                            <li class="action-icons" style="--trans-delay:1.4;">
                                <ion-icon name="cart-outline"></ion-icon>
                                <span>Add to Cart</span>
                            </li>
                            <li class="action-icons" style="--trans-delay:1.8;">
                                <ion-icon name="eye-outline"></ion-icon>
                                <span>View Details</span>
                            </li>
                        </ul>
                    </div>
                    <div class="content">
                        <div class="product-name">
                            <h3 class="name">kazak</h3>
                        </div>
                        <div class="price-rate">
                            <h2 class="price">$13.45</h2>
                            <div class="rate">
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="grey" name="star"></ion-icon>
                                <ion-icon class="grey" name="star"></ion-icon>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bestseller-product">
                    <div class="imgBox">
                        <img src="{% static 'img/kazak_1.jpg' %}" alt="" class="product-img">
                        <ul class="action-menu">
                            <li class="action-icons" style="--trans-delay:1;">
                                <ion-icon name="heart"></ion-icon>
                                <span>Add to My Favourites</span>
                            </li>
                            <li class="action-icons" style="--trans-delay:1.4;">
                                <ion-icon name="cart-outline"></ion-icon>
                                <span>Add to Cart</span>
                            </li>
                            <li class="action-icons" style="--trans-delay:1.8;">
                                <ion-icon name="eye-outline"></ion-icon>
                                <span>View Details</span>
                            </li>
                        </ul>
                    </div>
                    <div class="content">
                        <div class="product-name">
                            <h3 class="name">kazak</h3>
                        </div>
                        <div class="price-rate">
                            <h2 class="price">$13.45</h2>
                            <div class="rate">
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="grey" name="star"></ion-icon>
                                <ion-icon class="grey" name="star"></ion-icon>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bestseller-product">
                    <div class="imgBox">
                        <img src="{% static 'img/kazak_1.jpg' %}" alt="" class="product-img">
                        <ul class="action-menu">
                            <li class="action-icons" style="--trans-delay:1;">
                                <ion-icon name="heart"></ion-icon>
                                <span>Add to My Favourites</span>
                            </li>
                            <li class="action-icons" style="--trans-delay:1.4;">
                                <ion-icon name="cart-outline"></ion-icon>
                                <span>Add to Cart</span>
                            </li>
                            <li class="action-icons" style="--trans-delay:1.8;">
                                <ion-icon name="eye-outline"></ion-icon>
                                <span>View Details</span>
                            </li>
                        </ul>
                    </div>
                    <div class="content">
                        <div class="product-name">
                            <h3 class="name">kazak</h3>
                        </div>
                        <div class="price-rate">
                            <h2 class="price">$13.45</h2>
                            <div class="rate">
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="grey" name="star"></ion-icon>
                                <ion-icon class="grey" name="star"></ion-icon>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bestseller-product">
                    <div class="imgBox">
                        <img src="{% static 'img/kazak_1.jpg' %}" alt="" class="product-img">
                        <ul class="action-menu">
                            <li class="action-icons" style="--trans-delay:1;">
                                <ion-icon name="heart"></ion-icon>
                                <span>Add to My Favourites</span>
                            </li>
                            <li class="action-icons" style="--trans-delay:1.4;">
                                <ion-icon name="cart-outline"></ion-icon>
                                <span>Add to Cart</span>
                            </li>
                            <li class="action-icons" style="--trans-delay:1.8;">
                                <ion-icon name="eye-outline"></ion-icon>
                                <span>View Details</span>
                            </li>
                        </ul>
                    </div>
                    <div class="content">
                        <div class="product-name">
                            <h3 class="name">kazak</h3>
                        </div>
                        <div class="price-rate">
                            <h2 class="price">$13.45</h2>
                            <div class="rate">
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="grey" name="star"></ion-icon>
                                <ion-icon class="grey" name="star"></ion-icon>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bestseller-product">
                    <div class="imgBox">
                        <img src="{% static 'img/kazak_1.jpg' %}" alt="" class="product-img">
                        <ul class="action-menu">
                            <li class="action-icons" style="--trans-delay:1;">
                                <ion-icon name="heart"></ion-icon>
                                <span>Add to My Favourites</span>
                            </li>
                            <li class="action-icons" style="--trans-delay:1.4;">
                                <ion-icon name="cart-outline"></ion-icon>
                                <span>Add to Cart</span>
                            </li>
                            <li class="action-icons" style="--trans-delay:1.8;">
                                <ion-icon name="eye-outline"></ion-icon>
                                <span>View Details</span>
                            </li>
                        </ul>
                    </div>
                    <div class="content">
                        <div class="product-name">
                            <h3 class="name">kazak</h3>
                        </div>
                        <div class="price-rate">
                            <h2 class="price">$13.45</h2>
                            <div class="rate">
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="grey" name="star"></ion-icon>
                                <ion-icon class="grey" name="star"></ion-icon>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bestseller-product">
                    <div class="imgBox">
                        <img src="{% static 'img/kazak_1.jpg' %}" alt="" class="product-img">
                        <ul class="action-menu">
                            <li class="action-icons" style="--trans-delay:1;">
                                <ion-icon name="heart"></ion-icon>
                                <span>Add to My Favourites</span>
                            </li>
                            <li class="action-icons" style="--trans-delay:1.4;">
                                <ion-icon name="cart-outline"></ion-icon>
                                <span>Add to Cart</span>
                            </li>
                            <li class="action-icons" style="--trans-delay:1.8;">
                                <ion-icon name="eye-outline"></ion-icon>
                                <span>View Details</span>
                            </li>
                        </ul>
                    </div>
                    <div class="content">
                        <div class="product-name">
                            <h3 class="name">kazak</h3>
                        </div>
                        <div class="price-rate">
                            <h2 class="price">$13.45</h2>
                            <div class="rate">
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="" name="star"></ion-icon>
                                <ion-icon class="grey" name="star"></ion-icon>
                                <ion-icon class="grey" name="star"></ion-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- best seller products end  -->
        </div>
        <!-- product cards area end -->
    </section>

</main>
{% endblock body %}
    

